name: Build SpeedyNote DEB/RPM Packages

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build-linux-package:
    name: Build Linux Package
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x86_64, arm64]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU for multi-architecture
        if: matrix.arch != 'x86_64'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: ${{ matrix.arch == 'arm64' && 'arm64' || 'amd64' }}

      - name: Build package
        run: |
          docker build -t speedynote .
          docker export speedynote -o speedynote.tar
          tar xvf speedynote.tar

      - name: Upload DEB package
        uses: actions/upload-artifact@v4
        with:
          name: speedynote-deb-package-${{ matrix.arch }}
          path: "*.deb"

      - name: Upload RPM package
        uses: actions/upload-artifact@v4
        with:
          name: speedynote-rpm-package-${{ matrix.arch }}
          path: "*.rpm"

      - name: Upload PKGX package
        uses: actions/upload-artifact@v4
        with:
          name: speedynote-arch-package-${{ matrix.arch }}
          path: "*.pkgx"
